{% extends 'base.html.twig' %}



{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="container-fluid">

    <div class="jumbotron">
        <h1 class="display-4">SYMFONY!</h1>
        <p class="lead">Bonjour et bienvenue dans ce merveilleux monde de Symfony.</p>
        <hr class="my-4">


        <p>Recherche </p>

        <form action="{{ url('Recherchedefilm') }}" method="post">
            <input name="query">
            <input type="submit">
        </form>



    </div>



    <div class="row align-items-center">

        <div class="col-md-12">
            
                <p>Affichage des films</p>
                <ul class="card-columns">
                    {% for item in movies %}
                        <a  class ="" href="{{ url('FilmsParametres' , {'query': item.imdbID}) }}">
                        <li class="list-group-item card">
                            <div >
                                <img src="{{item.Poster}}" title="{{ item.Title|escape( 'html_attr')}}"/>
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.Title }}</h5>
                                </div>
                            </div>
                        </li>
                        </a>
                    {% endfor %}
                </ul>
            
        </div>  

    </div>
</div>
{% endblock %}
